# Project output
bin/
/color-playground
color-playground.so
color-playground.dylib
color-playground.dll
color-playground.a
color-playground.lib
color-playground-test-*

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
